.editor {
    height: 450px;
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
    
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.4);
    > .inner {
        padding: 5px;
    }
    &.small {
        width: 80px;
        height: 80px;
    }
}

.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1px;
}
.tile {
    margin-right: 1px;
    width: 50px;
    height: 50px;
    &.small {
        width: 9px;
        height: 9px;
    }
}

.filled {
    background: #8F425B;
}
