.editor {
    height: 450px;
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.4);
    > .inner {
        padding: 5px;
    }
}
.editor.small {
    width: 80px;
    height: 80px;
}
.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1px;
}
.tile {
    cursor: pointer;
    margin-right: 1px;
    width: 42px;
    height: 42px;
}
.tile:not(.small) {
    outline: 1px solid rgba(255,255,255,0.3);
}
.tile.small {
    width: 7px;
    height: 7px;
}
.editor:not(.small) .tile:hover {
    outline: 1px solid #666;
}
.filled {
    background: #8F425B;
}
