.editor {
    /* padding bottom square trick */
    /* https://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ */
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 20px;
    
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.4);
    > .inner {
        padding: 5px;
    }
    &.small {
        width: 80px;
        padding-bottom: 80px;
    }
}

.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tile {
    margin-right: 1px;
    margin-bottom: 1px;
    width: 30px;
    height: 30px;
    &.small {
        width: 9px;
        height: 9px;
    }
}

.filled {
    background: #8F425B;
}
