.wrapper {
    width: 950px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 20px;
    border: 3px solid #dee0d5;
    /* https://mycolor.space/gradient3 */
    background-image: linear-gradient(to bottom, #402643, #773958, #af4f5f, #dd715a, #f99f4e, #eab948, #d2d354, #40d3c9, #50c6d3);
    /* background-image: linear-gradient(to top, #4dc5d6, #62cdc6, #82d3b4, #a4d6a5, #c6d89d, #d4d08d, #e4c682, #f4bb7d, #f9a36b, #fd8862, #fe6a63, #fc466b); */
}
.print {
    .wrapper {
        background-image: none;
    }
}
@media screen and (max-width: 1023px) {
    .wrapper {
        width: 450px;
        display: block;
    }
    .main, .islands {
        width: 430px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 1024px) {
    .main, .islands {
        width: 450px;
        padding: 0 10px;
    }
    .islands {
        border-left: 3px solid #dee0d5;
        margin-top: 21px;
    }
}
.islands {
    text-align: center;
}
.islands .h2 {
    color: #dee0d5;
    font-weight: normal;
}
.islandPreviews {
    display: flex;
    flex-wrap: wrap;
    row-gap: 9px;
    column-gap: 9px;
}
@media screen and (max-width: 1023px) {
    .islandPreviews {
        row-gap: 5px;
        column-gap: 5px;
    }
}
.welcome, .welcome > a {
    text-align: center;
    font-style: italic;
    color: #dee0d5;
    margin-bottom: 10px;
}

.h1 {
    text-align: center;
    letter-spacing: 1pt;
    margin: 10px 0;
    font-weight: normal;
    font-size: 40pt;
    color: #dee0d5;
    margin-bottom: -10px;
}
.h2 {
    font-size: 16pt;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}
.share {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: auto;
    margin-bottom: 30px;
}
.shareBox {
    flex: 1;
    margin-right: 10px;
}
.tileWarning {
    margin-top: 5px;
    text-align: right;
}
.tileWarning:after{
    content: '\200b';
}
.p {
    margin: 10px;
    font-size: 12pt;
}