.wrapper {
    width: 450px;
    padding: 25px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 3px solid #9e9e9e;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #402643, #773958, #af4f5f, #dd715a, #f99f4e, #eab948, #d2d354, #b3ea72, #81e694, #56deb2, #40d3c9, #50c6d3);
    /* https://mycolor.space/gradient3 */
    /* background-image: linear-gradient(to top, #4dc5d6, #62cdc6, #82d3b4, #a4d6a5, #c6d89d, #d4d08d, #e4c682, #f4bb7d, #f9a36b, #fd8862, #fe6a63, #fc466b); */
}
.welcome {
    text-align: right;
    color: #dee0d5;
    margin-bottom: 10px;
}

.main {
    .h1 {
        text-align: center;
        letter-spacing: 1pt;
        margin: 10px 0;
        font-weight: normal;
        font-size: 40pt;
        color: #dee0d5;
        margin-bottom: -10px;
    }
    .h2 {
        font-size: 16pt;
        color: #333;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .share {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        vertical-align: auto;
        margin-bottom: 30px;
    }
    .shareBox {
        flex: 1;
        margin-right: 10px;
    }
    .tileWarning {
        margin-top: 5px;
        text-align: right;
    }
    .tileWarning:after{
        content: '\200b';
    }
}
.islandPreviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}